# Environment
NODE_ENV=development # local, development, production

# Server
HOST=http://localhost
PORT=3005
URL=http://localhost:3005

# Frontend
FE_URL=http://localhost:5173

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=user_user
DB_PASS=secret
DB_NAME=user_db

# User Service gRPC
USER_GRPC_URL=0.0.0.0:50051
